@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}
header {
  z-index: 10001 !important;
}
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(summary):not(.active).focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(summary):not(.active):focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):is(summary):not(.active):focus-visible,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(summary):not(.active).focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(summary):not(.active):focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):is(summary):not(.active):focus-visible {
  background-color: transparent !important;
  color: transparent !important;
  outline: none !important;
  outline-offset: 0px !important;
}

:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(.active):hover,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(.active):hover {
  background-color: transparent !important;
  color: #39db4a;
}
.menu :where(li > details > summary):after,
.menu :where(li > .menu-dropdown-toggle):after {
  color: #39db4a;
}
.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}
.subtitle {
  @apply text-error uppercase tracking-wide font-medium text-lg;
}
.title {
  @apply text-4xl md:text-5xl font-bold my-2 leading-snug;
}
.heartStar {
  /* border-radius: 0px 37.5px 0px 42.5px; */
  border-radius: 0px 28px;
}
.slick-slide {
  padding: 20px;
}
